.quiz-page {
  padding: var(--spacing-200) var(--spacing-300);
}

.quiz-page__content {
  margin: auto;
  max-width: 1157px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);
}

.quiz {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
}

/* layout - tablet */
@media screen and (min-width: 48em) {
  .quiz-page {
    padding: var(--spacing-500) var(--spacing-800);
  }
}

/* layout - desktop */
@media screen and (min-width: 67.5em) {
  .quiz-page {
    padding: var(--spacing-1100) var(--spacing-800);
  }

  .quiz-page__content {
    gap: var(--spacing-1100);
  }

  .quiz {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing-1600);
  }
}

.quiz__question-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.quiz__question-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.quiz__progress-text {
  color: var(--color-grey-500);
}

.quiz__question {
  color: var(--color-blue-900);
}

/* layout - tablet */
@media screen and (min-width: 48em) {
  .quiz__question-section {
    gap: var(--spacing-500);
  }
}

/* layout - desktop */
@media screen and (min-width: 67.5em) {
  .quiz__question-section {
    max-width: 465px;
    gap: var(--spacing-2300);
  }
}

.quiz__progress-bar {
  --proress: 0%;
  height: 16px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 999px;
  padding: 4px;
}

.quiz__progress-bar:after {
  display: block;
  content: "";
  height: 8px;
  width: var(--progress);
  background-color: var(--color-purple-600);
  border-radius: 999px;
  transition: width 250ms ease-in-out;
}

.quiz__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.quiz__answers {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

/* layout - tablet */
@media screen and (min-width: 48em) {
  .quiz__form {
    gap: var(--spacing-400);
  }
  .quiz__answers {
    gap: var(--spacing-300);
  }
}

/* layout - desktop */
@media screen and (min-width: 67.5em) {
  .quiz__answers {
    gap: var(--spacing-200);
  }
}

.no-answer-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100);
  color: var(--color-red-500);
}

.no-answer-notification img {
  height: var(--spacing-400);
  width: var(--spacing-400);
}

/* layout - tablet */
@media screen and (min-width: 48em) {
  .no-answer-notification img {
    height: var(--spacing-500);
    width: var(--spacing-500);
  }
}

/* layout - desktop */
@media screen and (min-width: 67.5em) {
  .quiz__answers {
    gap: var(--spacing-200);
  }
}
